body{
    background-image: linear-gradient(to bottom right,blue,black);
    background-size: cover;
    background-attachment: fixed;
    
}
.box{
    height: 800px;
    width: 800px;
    margin: 0 auto;

}
img{
    height: 500px;
    width: 300px;
    border-radius: 10%;
    border: solid white 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
h1{
    text-align: center;
    align-self: center;
    color: white;
  
}
h2{
    text-align: center;
    align-self: center;
    color: white;
    
}
button{
    height: 40px;
    width: 100px;
    border-radius: 30%;
    border: solid black;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}